IMAGE_NAME=carlagarage-dev
IMAGE_TAG=latest

CUDA_VERSION=12.1.1
TORCH_CUDA=cu121
UBUNTU_VERSION=22.04
MINIFORGE_VERSION=24.11.0-1

# Mounting targets
CARLA_ROOT=/workspace/carla
CARLA_GARAGE_ROOT=/workspace/carla_garage
PROJECT_DATA_ROOT=/workspace/data
# CARLA installation path on the host
CARLA_HOST_PATH=YOUR_HOST_CARLA_INSTALLATION_PATH

# CARLA multi-GPU port settings
EVAL_GPUS=0  # Example: "0,1,2,3,4,5,6,7" for all 8 GPUs, "0" for single GPU
CARLA_BASE_PORT=2000
CARLA_BASE_TM_PORT=8000
CARLA_PORT_STEP=150

USERNAME=developer
HOST_GID=1000
HOST_UID=1000

SHM_SIZE=16g
